a:link {
  color: #969696;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #969696;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #D4A9C6;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #F0AD56;
  background-color: transparent;
  text-decoration: none;
}
