body {
  background-color:#FFC9E5;
}

h1 {
  color:#DB4488;
  font-family:verdana;
  text-align:center;
  font-size:4vw;
}
a:link {
color: #F589B8;
text-decoration: none;
}
a:visited {
  color: #F589B8;
  text-decoration: none;
}
a:hover {
  color: #FAA0C7;
  text-decoration: none;
}
a:active {
  color: #FC917C;
  text-decoration: none;
}
h4 {
  text-align:center;
  font-family:verdana;
  font-size:2vw;
}
.canvas {
  width: 500px;
  height: 500px;
  padding: 10%;
  border: 5% #FCFCFC;
  margin: 10%;
}
